@import "tailwindcss";

@theme {
  --color-engine-black: #050505;
  --color-engine-dark: #0a0a12;
  --color-neon-cyan: #00f3ff;
  --color-neon-purple: #bd00ff;
  --color-hologram-blue: #00aaff;

  --font-sans: var(--font-inter);
  --font-display: var(--font-orbitron);

  --animate-spin-slow: spin 20s linear infinite;
  --animate-pulse-glow: pulse-glow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

:root {
  --background: #050505;
  --foreground: #ededed;
}

@keyframes pulse-glow {

  0%,
  100% {
    opacity: 1;
    filter: brightness(100%);
  }

  50% {
    opacity: 0.7;
    filter: brightness(150%) blur(2px);
  }
}

.tech-card {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.hex-card-aggressive {
  clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #0a0a12;
  border: 1px solid #00f3ff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f3ff;
}